
.bm{ width: 1200px; position: relative; margin: 0 auto; padding: 0px;}
.bm:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.bm .row{}
.bm .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.bm .row:after{clear: both; }
.bm .row{zoom: 1;}

.bm .wrap-col{margin:10px;}

.bm .col-3-4,.bm .col-1-4{float:left; display: inline-block;}

.bm .col-1-4{width:25%;}
.bm .col-3-4{width:75%;}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	.bm{width:768px;}
}

@media only screen and (max-width: 767px) {
	.bm{width:100%;}
}

@media only screen and (min-width: 620px) and (max-width: 767px) {
	.bm{width:100%;}
}

@media only screen and (max-width: 619px) {
	.bm .col-3-4,.bm .col-1-4{width:100%;}
}
